<!DOCTYPE html>
<html lang="ru-ua" ng-app="ngReddit">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.min.css">
  <title>ng-reddit</title>
  <script src="libs/angular/angular.js"></script>
  <script src="libs/angular-locale/angular-locale_ru-ua.js"></script>
  <script src="libs/angular-resource/angular-resource.min.js"></script>
  <script src="libs/angular-route/angular-route.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/factories.js"></script>
  <script src="js/filters.js"></script>
</head>
<body ng-controller="mainCtrl">
  <header>
    <h1><a href="/">ng-reddit</a></h1>
    <ul ng-hide="user">
      <li><a href="/signup">signup</a></li>
      <li><a href="/login">login</a></li>
    </ul>
    <ul ng-show="user">
      <li><a id="user" href="#">{{user.username}}</a></li>
      <li><a id="logout" href="#" ng-click="logout()">logout</a></li>
    </ul>
  </header>
  <main>
    <div class="content">
      <div ng-view></div>
    </div>
    <!-- /.content -->
    <aside>
      <form ng-submit="search()">
        <div>
          <input type="search" name="search" ng-model="search">
          <label>Search</label>
        </div>
        <button type="submit" class="hide"></button>
      </form>
      <a href="/submit/link" class="btn wide">Submit a new link</a>
      <a href="/submit/text" class="btn wide">Submit a new text post</a>
    </aside>
  </main>

  <div ng-repeat="error in errors track by $index">
    <div class="error">{{error}}</div>
  </div>
</body>
</html>