<div ng-message="required">This field required</div>
<div ng-message="minlength">Too short</div>
<div ng-message="maxlength">Too long</div>
<div ng-message="pattern">Please use only letters and numbers</div>
<div ng-message="invalidUsername">Username must start from letter and contains only letters and numbers</div>
<div ng-message="url">Invalid URL</div>
<div ng-message="email">Invalid email</div>
<div ng-message="matchPassword">Password dont match</div>
<div ng-message="checkSubreddit">This Subreddit not found</div>
<div ng-message="checkUsername">This username already taken</div>
<div ng-message="checkEmail">This email already taken</div>
