<div class="posts">
  <div ng-repeat="post in subreddit.posts | orderBy: '-published'" class="post content">
    <div class="votes">
      <i class="material-icons" ng-click="vote(post, 1)" ng-class="{active: isVoted(post, 1)}">keyboard_arrow_up</i>
      <div ng-class="{active: isVoted(post, 1) || isVoted(post, -1)}">
        {{post.upvotes.length - post.downvotes.length}}
      </div>
      <i class="material-icons" ng-click="vote(post, -1)" ng-class="{active: isVoted(post, -1)}">keyboard_arrow_down</i>
    </div>
    <div class="entry" ng-init="isExpanded = false">
      <div class="title">
        <a href="/r/{{post.subreddit}}/comments/{{post._id}}" ng-if="!post.link">
          {{post.title}}
        </a>
        <a href="{{post.link}}" target="_blank" class="title" ng-if="post.link">
          {{post.title}} 
        </a>
        <span class="muted">({{post.link|hostname}})</span>
      </div>
      <p class="about muted">
        <i ng-show="post.text" ng-click="isExpand = !isExpand" class="material-icons">add_circle</i>
        submited {{post.published | fromNow}} by {{post.author}}
        <span ng-hide="subreddit.name">
          to <a href="/r/{{post.subreddit}}">/r/{{post.subreddit}}</a>
        </span>
      </p>
      <ul class="flat-list options">
        <li>
          <a href="/r/{{post.subreddit}}/comments/{{post._id}}">
            <ng-pluralize count="post.comments.length" when="{
              1: '1 комментарий',
              few: '{} комментария',
              many: '{} комментариев'
            }"></ng-pluralize>
          </a>
        </li>
        <li>
          <a href="#" ng-show="user.username === post.author || user.moderate.indexOf(post.subreddit) > -1" ng-click="delete(posts || subreddit.posts, post)" class="warn">delete</a>
        </li>
      </ul>
    </div>
    <div ng-if="post.text && (isExpand || expandText)" class="post-text">
      <hr>
      <div ng-bind-html="post.text | md"></div>
    </div>
    <!-- /.entry -->
  </div>
</div>

<div ng-if="!subreddit.posts.length" class="content">
  Not yet any posts
</div>

<div class="pagination" ng-show="page > 1 || subreddit.hasNextPage">
  <div class="links">
    <a ng-show="page > 1" ng-click="changePage(-1)" href="#">
      &lt; prev
    </a>
    <span ng-show="page > 1" class="muted">|</span>
    <a ng-show="subreddit.hasNextPage" ng-click="changePage(1)" href="#">
      next &gt;
    </a>
  </div>
</div>