<div class="posts">
  <div ng-repeat="post in posts || subreddit.posts | orderBy: '-published'" class="post content">
    <div class="votes">
      <i class="material-icons" ng-click="vote(1, post)" ng-class="{active: isVoted(1, post)}">keyboard_arrow_up</i>
      <div ng-class="{active: isVoted(1, post) || isVoted(-1, post)}">
        {{post.upvotes.length - post.downvotes.length}}
      </div>
      <i class="material-icons" ng-click="vote(-1, post)" ng-class="{active: isVoted(-1, post)}">keyboard_arrow_down</i>
    </div>
    <div class="entry">
      <a href="/r/{{post.subreddit}}/comments/{{post._id}}" class="title" ng-if="!post.link">
        {{post.title}}
      </a>
      <a href="{{post.link}}" target="_blank" class="title" ng-if="post.link">
        {{post.title}}
      </a>
      <p class="muted">
        submited {{post.published | fromNow}} by {{post.author}}
        <span ng-hide="subreddit">
          to <a href="/r/{{post.subreddit}}">/r/{{post.subreddit}}</a>
        </span>
      </p>
      <ul class="flat-list options">
        <li>
          <a href="/r/{{post.subreddit}}/comments/{{post._id}}">
            <ng-pluralize count="post.comments.length" when="{
              1: '1 комментарий',
              few: '{} комментария',
              many: '{} комментариев'
            }"></ng-pluralize>
          </a>
        </li>
        <li>
          <a href="#" ng-show="user.username === post.author || user.moderate.indexOf(post.subreddit) > -1" ng-click="delete(posts || subreddit.posts, post)" class="warn">delete</a>
        </li>
      </ul>
    </div>
    <!-- /.entry -->
  </div>
</div>

<div ng-if="!subreddit.posts.length && !posts.length">
  Not yet any posts
</div>