<form name="newPostForm" ng-submit="addPost()" novalidate>
  <input type="text" name="title" placeholder="Title" ng-model="newPost.title">
  <input type="text" name="link" placeholder="link" ng-model="newPost.link">
  <button type="submit">Submit</button>
</form>

<div ng-repeat="post in posts | orderBy: '-upvotes'">
  <h4>{{post.title}}</h4>
  <a href="#" ng-click="downvote(post)">-</a>
  {{post.upvotes}}
  <a href="#" ng-click="upvote(post)">+</a>
  <a href="#" ng-click="delete(post)">delete</a>
  <a href="/posts/{{post._id}}">comments</a>
</div>

<pre>{{newPostForm|json}}</pre>