<h2>Sign Up</h2>

<form name="signupForm" ng-submit="signup()" novalidate>
  <div class="content">
    <div class="form-group">
      <input  type="text"
              name="username"
              ng-model="newUser.username"
              ng-model-options="{ debounce: 500 }"
              ng-minlength="3"
              ng-maxlength="12"
              username-validator
              required>
      <label>Username</label>
      <div ng-messages="signupForm.username.$error" class="error">
        <div ng-messages-include="error-messages"></div>
      </div>         
    </div>
    <div class="form-group">
      <input  type="email"
              name="email"
              ng-model="newUser.email"
              ng-model-options="{ debounce: 500 }"
              email-exist
              required>
      <label>Email</label>
      <div ng-messages="signupForm.email.$error" class="error">
        <div ng-messages-include="error-messages"></div>
      </div>        
    </div>
    <div class="form-group">
      <input  type="password"
              name="password"
              ng-model="newUser.password"
              pattern="^[a-zA-Z0-9]+$"
              ng-minlength="3"
              ng-maxlength="12"              
              required>
      <label>Password</label>
      <div ng-messages="signupForm.password.$error" class="error">
        <div ng-messages-include="error-messages"></div>
      </div>        
    </div>
    <div class="form-group">
      <input  type="password"
              name="confirmPassword"
              ng-model="newUser.confirmPassword"
              match-to="newUser.password"
              pattern="^[a-zA-Z0-9]+$"
              ng-minlength="3"
              ng-maxlength="12"              
              required>
      <label>Confirm Password</label>
      <div ng-messages="signupForm.confirmPassword.$error" class="error">
        <div ng-messages-include="error-messages"></div>
      </div>        
    </div>
    <button type="submit">Sign Up</button>
  </div>
</form>

<pre>{{signupForm|json}}</pre>