<h2>Sign Up</h2>

<div class="form-content">
  <form name="signupForm" ng-submit="signup()" novalidate>
    <div>
      <input
        type="text"
        name="username"
        ng-model="newUser.username"
        ng-model-options="{ debounce: 500 }"
        username-validator
        required>
      <label>Username</label>
    </div>
    <div>
      <input
        type="email"
        name="email"
        ng-model="newUser.email"
        ng-model-options="{ debounce: 500 }"
        email-validator
        required>
      <label>Email</label>
    </div>
    <div>
      <input
        type="password"
        name="password"
        ng-model="newUser.password"
        required>
      <label>Password</label>
    </div>
    <div>
      <input
        type="password"
        name="password"
        ng-model="newUser.confirmPassword"
        match-to="newUser.password"
        required>
      <label>Confirm Password</label>
    </div>
    <button
      ng-disabled="signupForm.$invalid"
      type="submit">Sign Up</button>
  </form>
</div>

<pre>{{signupForm|json}}</pre>