  <form name="newPostForm" ng-submit="submit()" novalidate>
    <div class="content">
      <div class="form-group">
        <input
          type="text"
          name="title"
          ng-model="newPost.title"
          required>
          <label>Title</label>
        <div ng-messages="newPostForm.title.$error" class="error">
          <div ng-messages-include="error-messages"></div>
        </div>
      </div>
      <div class="form-group" ng-if="type == 'link'">
        <input
          type="url"
          name="link"
          ng-model="newPost.link">
        <label>Link</label>
        <div ng-messages="newPostForm.link.$error" class="error">
          <div ng-messages-include="error-messages"></div>
        </div>          
      </div>
      <div class="form-group" ng-if="type == 'text'">
        <textarea
          name="text"
          rows="1"
          elastic-textarea
          ng-model="newPost.text"></textarea>
        <label>Text</label>
        <div ng-messages="newPostForm.link.$error" class="error">
          <div ng-messages-include="error-messages"></div>
        </div>        
      </div>
      <div class="form-group">
        <input
          type="text"
          name="subreddit"
          ng-model="newPost.subreddit"
          ng-model-options="{ debounce: 500 }"
          pattern="^[a-zA-Z0-9]+$"
          subreddit-validator
          required>
        <label>Subreddit</label>
        <div ng-messages="newPostForm.subreddit.$error" class="error">
          <div ng-messages-include="error-messages"></div>
        </div>        
      </div>
      <button type="submit">Submit</button>
    </div>
  </form>

<pre>{{newPostForm|json}}</pre>