@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700&subset=latin,cyrillic)
@import 'normalize'
@import 'material-palette'
@import 'material-input'
@import 'depth'
@import 'responsive'


// Var

$aside_w: 340px
$bg: $light-blue-50


// Extend

%row
  display: flex
  flex-flow: row wrap
%column
  display: flex
  flex-flow: column nowrap


// Classes

.hide
  display: none !important


// Global

*, *:before, *:after
  box-sizing: border-box
  margin: 0
  padding: 0
a
  text-decoration: none
  &:hover
    text-decoration: underline

body
  @extend %row
  justify-content: space-between
  font: 16px/1.3 'Roboto', sans-serif
  background: $bg


// Style

header
  @extend %row
  justify-content: space-between
  width: 100%
  ul
    list-style: none
    li
      display: inline
      padding: 0.5em
  .user
    padding: 0.5em

main
  padding: 1em
  flex: 1 0 auto
  width: 1px
  @include phone
    padding: 0

aside
  padding: 1em 1em 1em 0
  width: $aside_w
  @include tablet
    padding: 1em
    width: 100%
    flex: 1 0 auto
  @include phone
    padding: 0
  .form-group
    margin-bottom: 0

.content
  padding: 1em
  margin-bottom: 1em
  background: white
  @include depth(1)
  @include phone
    margin: 0

.posts
  .post
    .title
      font-weight: bold
      font-size: 1.1em
      color: $blue

form
  max-width: 500px
  width: 100%
.form-group
  margin: 1em 0 2em
  position: relative
  margin-bottom: 45px

.error
  font-size: 0.9em    
  color: $red

div[ng-messages]
  position: absolute
  bottom: -1.5em
  display: none 

input.ng-dirty ~ div[ng-messages]
  display: block