@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700&subset=latin,cyrillic)
@import url(https://fonts.googleapis.com/icon?family=Material+Icons)
@import 'normalize'
@import 'material-palette' 
@import 'material-input'
@import 'depth'
@import 'responsive'


// Var

$aside_w: 340px
$bg: $light-blue-50


// Extend


@mixin row
  display: flex
  flex-flow: row wrap
@mixin column
  display: flex
  flex-flow: column nowrap


// Classes

.hide
  display: none !important


// Global

*, *:before, *:after
  box-sizing: border-box
  margin: 0
  padding: 0
a
  text-decoration: none
  &:hover
    text-decoration: underline
ul    
  list-style: none

body
  +row
  justify-content: space-between
  font: 16px/1.3 'Roboto', sans-serif
  background: $bg


// Style

header
  +row
  justify-content: space-between
  width: 100%
  ul
    li
      display: inline
      padding: 0.5em
  .user
    padding: 0.5em

main
  flex: 1 0 auto
  width: 100px

aside
  width: $aside_w
  margin-left: -1em
  +tablet
    margin: 0
    width: 100%
    flex: 1 0 auto
  .form-group
    margin-bottom: 0
  p
    padding: 0.5em 0

.content
  margin: 1em
  padding: 1em
  background: white
  +depth(1)
  +phone
    margin: 0

.posts
  .post
    +row
    .votes
      +column
      align-items: center
      justify-content: center
      width: 50px
      i
        cursor: pointer
    .options
      font-size: 0.9em

.title
  font-weight: bold
  font-size: 1.1em
  color: $blue

form
  max-width: 500px
  width: 100%
.form-group
  margin: 1em 0 2em
  position: relative
  margin-bottom: 45px

.error
  font-size: 0.9em    
  color: $red

.warn
  color: $red

.muted
  padding: 0.3em 0
  color: $grey
  font-size: 0.9em

.flat-list
  list-style: none
  li
    display: inline
    padding-right: 0.5em

div[ng-messages]
  position: absolute
  bottom: -1.5em
  display: none 

input.ng-dirty ~ div[ng-messages]
  display: block